/*
CSS styles for aboutSection.html page
*/

#skillsHeadline {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

#frontendSkill {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#backendSkill {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#mobileSkill {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#itSkill {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.material-icons {
  display: block;
  text-align: center;
  font-size: 62px;
  color: #0f2027; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skillText > h4 {
  display: block;
  text-align: center;
}

#aboutSection {
  grid-row: 2 / 3;
  grid-column: 1;
  display: grid;
  grid-gap: 5px;
}

#previousWorkHeadline {
  grid-row: 1;
  grid-column: 1 / 3;
}

#aboutHeadline > h2 {
  font-weight: bold;
}

#skillsHeadline,
#previousWorkHeadline {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.skillText > p {
  text-align: center;
}

.workLogo {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* mobile view */
@media (max-width: 640px) {
  .workLogo {
    width: 110px;
    height: 110px;
    display: block;
    margin: 0 auto;
  }

  #avaSummary > p,
  #cfcSummary > p {
    margin: 10px 10px;
  }
}

/* tablet + desktop view */
@media (min-width: 640px) {
  #aboutSection {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  #aboutHeadline {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }

  #skillsContainer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  #previousWorkContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
  }

  #avaWork {
    grid-row: 2;
    grid-column: 1;
  }

  #cfcWork {
    grid-row: 3;
    grid-column: 1;
  }
}
