.form {
  padding: 10px;
  text-align: center;
}

.heading {
  font-weight: bold;
}

#name,
#email,
#message {
  width: 65%;
  padding: 5px;
  border: 1px solid var(--gray3);
  border-radius: 5px;
}

#name {
  margin-left: 5px;
}

#email {
  margin-left: 45px;
}

#message {
  margin-left: 20px;
  height: 200px;
}

.btn-container {
  text-align: center;
}

.btn-submit,
.btn-reset {
  width: 20%;
  padding: 10px 40px;
  border: 1px solid var(--green);
  font-size: 15px;
}

.btn-submit {
  background-color: var(--green);
  color: var(--white);
}

.btn-reset {
  background-color: var(--white);
  background: none;
  color: var(--green);
}

.btn-submit:hover,
.btn-reset:hover {
  background-color: var(--orange);
  color: var(--black);
  cursor: pointer;
}

.name-container,
.email-container,
.message-container {
  margin-bottom: 15px;
  display: block;
}
