.form {
  margin: 30px auto;
  padding: 10px;
}

.heading {
  font-weight: bold;
}

#name,
#email,
#message-container {
  width: 65%;
  padding: 5px;
  border: 1px solid var(--gray3);
  border-radius: 5px;
}

#name {
  margin-left: 2px;
}

#email {
  margin-left: 45px;
}

#message-container {
  margin-left: 5px;
  height: 200px;
}

.btn-container {
  text-align: center;
}

.btn-submit {
  width: 40%;
  padding: 10px 40px;
  background-color: var(--green);
  border: 1px solid var(--green);
  font-size: 15px;
  color: var(--white);
}

.btn-reset {
  width: 40%;
  padding: 10px 40px;
  background-color: var(--white);
  background: none;
  border: 1px solid var(--green);
  color: var(--green);
  font-size: 15px;
}

.btn-submit:hover,
.btn-reset:hover {
  background-color: var(--orange);
  color: var(--black);
}

.name-container,
.email-container,
.message-container {
  margin-bottom: 25px;
  display: block;
}
