#introSection {
  display: grid;
}

#avatar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  margin: 10px;
}

#introText {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 10px;
}

/* mobile view */
@media (max-width: 640px) {
  #introSection {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}

/* tablet + desktop view */
@media (min-width: 640px) {
  #introSection {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
