#introText {
  margin: 10px;
}

#avatar {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  margin: 30px;
  width: 80%;
}

#contactLinks {
  display: flex;
  justify-content: space-evenly;
}

#introSection {
  display: grid;
  /* background-color: #2d3436; */
  /* background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
}
/* mobile view */
@media (max-width: 640px) {
  /* #introSection { */
  /* grid-template-rows: 3fr; */
  /* grid-template-columns: 1fr; */
  /* display: flex; */
  /* flex-direction: column; */
  /* } */
  /* #introText {
    grid-row: 1;
    grid-column: 1;
  }
  #avatar {
    grid-row: 2;
    grid-column: 1;
  }
  #contactLinks {
    grid-row: 3;
    grid-column: 1;
  } */
}

/* tablet + desktop view */
@media (min-width: 640px) {
  #introSection {
    grid-template-rows: 1fr 50px;
    grid-template-columns: repeat(2, 1fr);
  }
  #avatar {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  #introText {
    grid-row: 1 / 1;
    grid-column: 1 / 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #contactLinks {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: 2px;
  }
}
