/*
https://www.w3schools.com/howto/howto_css_center-list.asp
https://www.w3schools.com/css/css_navbar_horizontal.asp
*/

nav {
  width: 100%;
  padding: .9rem;
  /* overflow: hidden; */
}

#navbar {
  background-color: var(--black);
  margin: 0;
  list-style: none;
  overflow: hidden;
  text-align: center;
}

.nav-item {
  display: inline-block;
  padding: 0 1rem;
}

.nav-link:hover {
  color: var(--gray2) !important;
}

.nav-link:link,
.nav-link:visited {
  color: var(--white);
  text-decoration: none;
}

.material-symbols-outlined {
  color: white;
}

@media(max-width: 640px) {
  nav {
    padding: .8rem;
  }
  nav #navbar {
    display: none;
  }
  #hamburger {
    display: block;
    cursor: pointer;
    /* margin: auto 0; */
  }
  #mobile-menu {
    display: none;
    position: absolute;
    /* top: 2rem; */
    margin: 0;
    left: 0;
    height: 180px;
    /* height: calc(100vh - 98px); */
    width: 100%;
  }
  .open #mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    background-color: var(--black);
    opacity: 0.85;
  }
  #mobile-menu > .nav-item {
    padding: .7rem 0;
  }
}
@media(min-width: 640px) {
  #hamburger {
    display: none;
  }
}