/*
CSS styles for projectsSection.html page
*/

.projectContainer {
  border-radius: 5px;
  margin: 1rem;
  background-color: var(--white);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.aProjectHeadline {
  display: flex;
  justify-content: space-between;
}
